#TrustlessWork
NEXT_PUBLIC_TRUSTLESS_API_URL=https://api.trustlesswork.com
NEXT_PUBLIC_TRUSTLESS_API_URL_DEV=https://dev.api.trustlesswork.com
NEXT_PUBLIC_API_KEY="CgYuZyIDpYUEQA6yT701Bg.0f45b8c31f6588c55d1678ffc8fe37aa587e5d7ef3f44136b4a08cffe2f664c0"
NEXT_PUBLIC_TRUSTLESS_NETWORK=testnet


NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCBLN2pV8eDXaqYGj2bzUx4dHpu5kHtuXs
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=safetrust-26fc0.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=safetrust-26fc0
NEXT_PUBLIC_FIREBASE_APP_ID=1:348460484044:web:ef39da5f90cb186b8b0969


NEXT_PUBLIC_HASURA_GRAPHQL_URL=http://localhost:8080/v1/graphql
NEXT_PUBLIC_HASURA_ADMIN_SECRET=safetrust_admin_secret_2024
NEXT_PUBLIC_HASURA_WS_URL=ws://localhost:8080/v1/graphql
NEXT_PUBLIC_WC_PROJECT_ID=YOUR_PROJECT_ID_HERE

# Development
NODE_ENV=development